.card .image,
.card .image .dimmer {
    overflow: inherit !important;
}

.p-labels {
    position: absolute;
    left: -4px;
    top: 10px;
    z-index: 99;
}

.p-label {
    margin-bottom: 5px;
    height: 24px;
    display: block;
    padding: 3px 8px 3px 8px;
    float: left;
    clear: both;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    line-height: 20px;
    vertical-align: baseline;
    font-family: Roboto, sans-serif !important;
    clip-path: xywh(0 0 100% 100% round 5px);
}
