<span class="p-label" style="{% if data.backgroundColor is not empty %}background-color: {{ data.backgroundColor }};{% endif %}
    {% if data.textColor is not empty %}color: {{ data.textColor }};{% endif %}">
    {{ data.text }}
</span>
